.DS_Store

bin
__*.go
scripting.sh
gen_conf.py
run.sh
erigon_replay
ledgerwatch_rpctests
trash_scripts

qa_pl
run_pl.sh

# local test results
/web/rpctest_results

# python files
**/__pycache__
qa_client/*.py
qa_server/*.py

# certs directory for tls connection
ssl/certs
ssl/_certs
# certs directory for https connection
ssl/https

server_out.log

qa_scripts/_rpctest_replay.sh
